<style>
    ul {
        background-color: aqua;
        color: blue;
        
    }


li
{
    font-size: 60px;
    gap: 30px;
}













=======
<style>  
ul {
    background-color: aqua;
    color: blue;
    
}

ol {
    background-color: red;
    color: white;
    
}
>>>>>>> 02a5db211c212c621d9a5fc2dae2ebed80a71926
</style>