* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}






ul {
    background-color: aqua;
    color: blue;
    
}

ol {
    background-color: red;
    color: white;
    
}
li {font-size: 60px;
 gap: 30px;}
